LIVE_STREAM_PATH=

MODEL_DIR=./models
MODEL_PREFIX=guinea-pig-chons-v11n-

SHOW_STREAM=True
CAPTURE_WIDTH=1024
LOG_DIRECTORY=logs/

DATASET_SOURCE_DIR=./static/captures/verified
DATASET_RESULT_DIR=./datasets/chons-v11n-30
DATASET_TEST_PERCENT=0.2
DATASET_VAL_PERCENT=0.2

TRAIN_MODEL_PATH=./models/chons-8n-v30.pt
TRAIN_DATASET_PATH=./datasets/chons-v31

TRAIN_DATASET_NAME=guinea-pig-chons-v29
#TRAIN_DATASET_NAME=chons-8n-v31
TRAIN_MODEL_NMS_VERSION=41
#TRAIN_MODEL_NMS_VERSION=39
TRAIN_CLASSES=4
#TRAIN_CLASSES=5

TRAIN_STEP_TRAIN=
TRAIN_STEP_EXPORT=
TRAIN_STEP_PARSE=1
TRAIN_STEP_COMPILE=1
TRAIN_STEP_GIT=
TRAIN_RESUME=

#TRAIN_SDK_VERSION=2024-07
TRAIN_SDK_VERSION=2024-10

TRAIN_MODEL_BASE_VERSION=8

TRAIN_DEVICE=0

OPENCV_LOG_LEVEL=0
OPENCV_VIDEOIO_DEBUG=0
OPENCV_FFMPEG_DEBUG=0
OPENCV_FFMPEG_LOGLEVEL=0

FRONT_URL=https://localhost:4200/captures

SECRET_KEY=
DEBUG=True

WATCH_DISK=/

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=