LIVE_STREAM_PATH=

MODEL_DIR=./models
MODEL_PREFIX=guinea-pig-chons-v11n-

SHOW_STREAM=True
CAPTURE_WIDTH=1024
LOG_DIRECTORY=logs/

DATASET_SOURCE_DIR=./static/captures/verified
DATASET_RESULT_DIR=./datasets/chons-v11n-30
DATASET_TEST_PERCENT=0.2
DATASET_VAL_PERCENT=0.2

TRAIN_MODEL_PATH=yolov11n.pt
TRAIN_DATASET_PATH=./datasets/chons-v11n-30
TRAIN_DATASET_NAME=chons-v11n-30
TRAIN_DEVICE=cpu
TRAIN_MODEL_BASE=yolov8
TRAIN_CLASSES=4

OPENCV_LOG_LEVEL=0
OPENCV_VIDEOIO_DEBUG=0
OPENCV_FFMPEG_DEBUG=0
OPENCV_FFMPEG_LOGLEVEL=0

FRONT_URL=https://localhost:4200/captures

SECRET_KEY=
DEBUG=True

WATCH_DISK=/

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=