LIVE_STREAM_PATH=rtsp://syno:d1b966dc2884cd193395e7d0630161e2@192.168.0.20:554/Sms=5.unicast

MODEL_DIR=./models
MODEL_DETECT_PREFIX=guinea-pig-11n-v
MODEL_CLASSIFY_PREFIX=guinea-pig-11n-v

SHOW_STREAM=False
CAPTURE_WIDTH=1024
LOG_DIRECTORY=logs/
ENABLE_SAVE=1

DETECTION_MIN_WIDTH_NORM=0.02
DETECTION_MIN_HEIGHT_NORM=0.04

DATASET_RESULT_DIR=./static/captures/guinea-pig-v

DATASET_VAL_PERCENT=0.2
DATASET_TEST_PERCENT=0.1
DATASET_VIDEO_PERCENT=0
DATASET_MIN_COUNT=1

DATASET_DETECTION_CHANGED_PERCENT=0.4
DATASET_CLASSIFICATION_CHANGED_PERCENT=0.4

DATASET_CHUNK_FIRST=70
DATASET_DETECTION_FIRST=
DATASET_CLASSIFICATION_FIRST=

TRAIN_MODEL_PATH=
TRAIN_DATASET_PATH=
TRAIN_DATASET_NAME=
TRAIN_DEVICE=cpu
TRAIN_MODEL_BASE=yolov8
TRAIN_CLASSES=4

OPENCV_LOG_LEVEL=0
OPENCV_VIDEOIO_DEBUG=0
OPENCV_FFMPEG_DEBUG=0
OPENCV_FFMPEG_LOGLEVEL=0

FRONT_URL=https://chons.jaden-achain.dev/captures

SECRET_KEY=
DEBUG=True

WATCH_DISK=/

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
