###> phpstorm ###
/.idea/
/.sass-cache/
###< phpstorm ###

.env
.venv

sqlite3.db

static/CACHE
static/captures
static/admin
static/django_extensions
static/rest_framework

records
datasets
runs


yolov8n.pt
__pycache__
