###> phpstorm ###
/.idea/
/.sass-cache/
###< phpstorm ###

.env
.venv

sqlite3.db
sqlite3_backup.db

static/CACHE
static/captures
static/admin
static/django_extensions
static/rest_framework

records
datasets
runs
logs
hailort.*.log
hailort.log

models/*.onnx
models/*.har
models/config/*/n_nms_config_tmp.json
models/config/*/n_nms_config_*_tmp.json

yolov8n.pt
__pycache__

notebooks/*.ipynb
