setuptools~=70.3.0
numpy~=1.26.4
ultralytics~=8.2.41
torch~=2.2.0
torchvision~=0.17
python-dotenv~=1.0.1
ffmpeg~=1.4
opencv-python~=4.10.0.84
onnx~=1.16.1
Django~=5.0.6
django-admin~=2.0.2
django_compressor~=4.5
djangorestframework~=3.15.2
django-cors-headers~=4.4.0
django-admin-relation-links~=0.2.5
werkzeug~=3.0.3
django-extensions~=3.2.3
pyOpenSSL~=24.2.1
django-imagekit~=5.0.0
pillow~=10.4.0
typing_extensions~=4.12.2
onnxruntime~=1.18.1
loguru~=0.7.2
vcgencmd~=0.1.1